<div class="content">
  <h1>Direct Contact</h1>
  <br/>
  <mat-card class="card-card">
    <mat-card-header class="card-header">
      <mat-card-title>Contact Me</mat-card-title>
    </mat-card-header>
      <mat-card-content class="card-content">
        <ng-container *ngIf="!submitClicked">
          <form id="contact-form" [formGroup]="details" (ngSubmit)="doContact(); submitClicked=true">
            <mat-form-field class="form">
              <mat-label for="Name">Your Name</mat-label>
              <input matInput id="Name" type="text" formControlName="Name"/>
            </mat-form-field>
            <br/>
            <mat-form-field class="form">
              <mat-label for="Phone">Your Phone</mat-label>
              <input matInput id="Phone" type="tel" formControlName="Phone">
            </mat-form-field>
            <br/>
            <mat-form-field class="form">
              <mat-label for="Email">Your Email Address</mat-label>
              <input matInput id="Email" formControlName="Email"/>
            </mat-form-field>

            <br/>
            <mat-form-field class="form">
              <mat-label for="About">What would you like to say?</mat-label>
              <textarea matInput id="About" placeholder="..." rows="2" formControlName="About"></textarea>
            </mat-form-field>
            <br/>
            <button mat-flat-button color="primary" [disabled]="!details.valid">Submit</button>
          </form>
        </ng-container>

        <div class="form-bottom">
          <br/>
          <a class="menuaction" routerLink="/.."><button mat-flat-button color="accent" *ngIf="!submitClicked">Back</button></a>
          <div class="spinner-container" *ngIf="submitClicked">
            <mat-spinner></mat-spinner>
            <br/>
          </div>
            <h4 id="inquiry-sent" *ngIf="submitClicked">Your Inquiry Was Sent!</h4>
        </div>
      </mat-card-content>
  </mat-card>
  <br/><br/><br/><br/><br/><br/><br/>
</div>
