  <mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button (click)="openCloseMenu(); drawer.toggle()">
      <mat-icon>{{menuIcon}}</mat-icon>
    </button>
    <h1 id="toolbar-title">Dimitrije Mitic</h1>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="drawer-drawer" mode="side" opened>
      <h3>Menu</h3>
      <div class="btn-link">
        <a routerLink="/home"><button class="navigation-btn" mat-flat-button color="accent" (click)="scrollTop()">Home</button></a>
      </div>
      <div class="btn-link">
        <a routerLink="/work"><button class="navigation-btn" mat-flat-button color="accent" (click)="scrollTop()">Professional</button></a>
      </div>
      <div class="btn-link">
        <a routerLink="/contact"><button class="navigation-btn" mat-flat-button color="accent" (click)="scrollTop()">Contact</button></a>
      </div>

    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <span id="topOfPage"></span>
      <router-outlet></router-outlet>
      <footer class="footer">
        <button id="to-top-btn" mat-button (click)="scrollTop()">To Top Of Page</button>
        <br/>
        <p>
        &copy; Dimitrije Mitic, All Rights Reserved
        <br/>
        <a href="mailto:dimitrije.mitic29@gmail.com" target="_blank">dimitrije.mitic29@gmail.com</a>
        <br/>
      </p>
      </footer>
    </mat-drawer-content>
  </mat-drawer-container>
