<div class="content">
  <h1>Hello! Welcome to my Personal Website.</h1>
  <br/>
<mat-card class="card-card">
  <mat-card-header class="card-header">
    <mat-card-title>Hi, My Name is Dimitrije Mitic</mat-card-title>
    <mat-card-subtitle>Thanks for visiting my website</mat-card-subtitle>
  </mat-card-header>
    <mat-card-content class="card-content">
      <p>I am a software engineer based in Washington, D.C., who recently graduated from college with degrees in Computer Science and Finance. Currently I am working in web development and cybersecurity. My other interests include data science, machine learning, finance and investments, 3D design, and business.</p>
    </mat-card-content>
</mat-card>

<mat-card class="card-card">
  <mat-card-header class="card-header">
    <mat-card-title>My Recent Projects</mat-card-title>
    <mat-card-subtitle>Work I've done in 2020</mat-card-subtitle>
  </mat-card-header>
    <mat-card-content class="card-content">

      <p>COVID-19 Disaster Consult, a website made to be used by medical professionals and students. It provides news, guidance, and help to medical personel dealing with infected patients. It was built by a team of 5, myself included, in under two weeks. Certain sections of the webiste that I designed pull large amounts of data on global COVID-19 cases from an API and present it to the user in the form of charts and graphs, and others focus on front end design and UX functionality.
      </p>
      <img mat-card-image width="40%" height="40%" src="../../../assets/disasterconsultgraph.png" alt="COVID-19 Disaster Consult"/>
      <h3>. . .</h3>
      <p>Washingtonian Luxury Car Service buisness website. A freelance project, website designed for the purposes of the business. It allows the buisness to showcase its services to customers and receive inquiries about pricing and other information.
      </p>
      <img align="top" mat-mat-card-image width="40%" height="80%" src="../../../assets/washi2.png"/>
      &nbsp;
      <img align="top" mat-mat-card-image width="40%" height="80%" src="../../../assets/washi1.png"/>
      <h3>. . .</h3>
      <p>Other work I've done in 2020, besides this webiste, includes a number of web applications using Angular, Firebase, Python, Flask, as well as other technoligies whose source code can be found on my <a href="https://github.com/dmitic29" target="_blank">GitHub<img align="top" class="in-text-img" src="../../../assets/GitHub-Mark.png" height="18pt" width="18pt" /></a>.
      </p>
      <img align="top" mat-mat-card-image width="40%" height="80%" src="../../../assets/covid-website1.png"/>
      &nbsp;
      <img align="top" mat-mat-card-image width="40%" height="80%" src="../../../assets/covid-website2.png"/>

      <img align="top" mat-mat-card-image width="40%" height="80%" src="../../../assets/covid-website3.png"/>
      &nbsp;
      <img align="top" mat-mat-card-image width="40%" height="80%" src="../../../assets/covid-website4.png"/>
      <h3>. . .</h3>
    </mat-card-content>
</mat-card>
</div>
