
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$personal-website-v2-primary: mat-palette($mat-gray, 100, 200, 400);
$personal-website-v2-accent: mat-palette($mat-pink, A400, A200, A700);

// The warn palette is optional (defaults to red).
$personal-website-v2-warn: mat-palette($mat-red, A200);

// Create the theme object (a Sass map containing all of the palettes).
$personal-website-v2-theme: mat-dark-theme($personal-website-v2-primary, $personal-website-v2-accent, $personal-website-v2-warn);

//Font style
$custom-typography: mat-typography-config($font-family: '"Quicksand", sans-serif;');

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($personal-website-v2-theme);
@include mat-core($custom-typography);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Quicksand, Roboto, "Helvetica Neue", sans-serif;}

h1 {
  color: #F50057;
  text-decoration: none;
}

a {
  color: #304FFE;
  text-decoration: none;
}

img {
  border-radius: 5px;
}

button {
  font-size: larger;
  font-weight: bolder;
}

.toolbar {
  position: fixed;
  z-index: 2;
  width: 8%;
}

#toolbar-title {
  margin-left: 2%;
  letter-spacing: 1px;;
}

#topOfPage {
  display: hidden;
}

#to-top-btn {
  color: #304FFE;
  background-color: transparent;
}

.drawer-container {
  background-image: linear-gradient(to bottom, #222222, black);
  height: 100%;
  max-height: 100%;
  border: 1px solid #212121;
}

.content {
  box-sizing: border-box;
  padding-top: 100px;
}

.drawer-drawer {
  width: 15%;
  min-width: 115px;
  padding-top: 10%;
  text-align: center;
  background-image: linear-gradient(to top right, #212121, #ffffff);
  background-image: url('./assets/drawer\ background.jpg');
  background-position: center;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  border-right: 2px dotted #f5f5f5;

  @media (max-width: 1000px) {
    padding-top: 20%;
  }
}

.drawer-content {
  padding-top: 5%;
}

.navigation-btn {
  width: 96%;
  max-width: 96%;
  height: 60px;
  max-height: 60px;
}

.btn-link {
  margin-bottom: 8%;
  text-align: center;
  width: 100%;
  max-width: 100%;

  @media (max-width: 1000px) {
    margin-bottom: 15%;
  }
}

.card-card {
  max-width: 50%;
  position: relative;
  left: 25%;
  margin-bottom: 5%;
  border-radius: 15px;

  @media (max-width: 1000px) {
    max-width: 70%;
    width: 70%;
    left: 10%;
    margin-bottom: 10%;
  }
}

.in-text-img {
  display: inline;
  max-height: 12pt;
  border: 1.5px solid #304FFE;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.footer {
  display: inline-block;
  width: 100%;
  min-width: 100%;
  text-align: center;
  height: 200pt;
  max-height: 170px;
  background-image: linear-gradient(to bottom, #444444, black);
  z-index: 3;
  padding-top: 15pt;

  @media (max-width: 1000px) {
    height: 100pt;
    max-height: 100pt;
  }
}

#contact-form {
  text-align: center;
}

.form-bottom {
  text-align: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-preview {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  height: 40%;
  width: 99.99%;
  overflow: hidden;
  scrollbar-base-color: transparent;
}
